.bar {
  width: 50%;
  text-align: start;
  position: relative;
  height: 1rem;
  background: white;
  border-radius: 15px;
  margin: 0.5rem auto 0 auto;
  box-shadow: var(--shadow);
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--active);
  border-radius: 15px;
}
