<div class="container">
  @let learnerActive = tictactoeService.learnerActive;
  @if (learnerActive()) {
    <div class="btn-row">
      <button class="btn" (click)="resetLearner()">reset learner</button>
      <button class="btn" (click)="newGame()">new game</button>
    </div>
    @let currentBoard = tictactoeService.currentBoard;
    @let currentOutcome = tictactoeService.currentOutcome;
    <app-game-board
      [board]="currentBoard()"
      [outcome]="currentOutcome()"
      (playerMove)="playerTurn($event)"
    ></app-game-board>
    <div style="display: flex; flex-direction: column; margin: auto;">
      @if (currentOutcome() !== "active") {
        <div>
        @switch (currentOutcome()) {
          @case ("win") {
            You lose...
          }
          @case ("lose") {
            You win!
          }
          @case ("draw") {
            Draw.
          }
        }
      </div>
      }
    </div>
  }
  @else {
    @let gamesFinished = tictactoeService.gamesFinished;
    @if (gamesFinished() === 0) {
      <label>Number of training games:</label>
      <input [formControl]="trainingGames" type="number" />
      <div class="add-row">
        <button class="btn left" (click)="addGames(-10000)">-10k</button>
        <button class="btn" (click)="addGames(-1000)">-1k</button>
        <button class="btn" (click)="addGames(1000)">+1k</button>
        <button class="btn right" (click)="addGames(10000)">+10k</button>
      </div>
      <button class="btn" (click)="trainLearner()">train learner</button>
    }
    @else {
      <app-loading-bar
        [capacity]="trainingGames.value!"
        [progress]="gamesFinished()"
      ></app-loading-bar>
    }
  }
</div>
