<div class="container">
  @let learnerActive = tictactoeService.learnerActive;
  @if (learnerActive()) {
    <button (click)="resetLearner()">reset learner</button>
    @let currentBoard = tictactoeService.currentBoard;
    @let currentOutcome = tictactoeService.currentOutcome;
    <app-game-board
      [board]="currentBoard()"
      [outcome]="currentOutcome()"
      (playerMove)="playerTurn($event)"
    ></app-game-board>
    <div style="display: flex; flex-direction: column; margin: auto;">
      @if (currentOutcome() !== "active") {
        <p>
        @switch (currentOutcome()) {
          @case ("win") {
            You lose...
          }
          @case ("lose") {
            You win!
          }
          @case ("draw") {
            Draw.
          }
        }
        </p>
        <button (click)="newGame()">new game</button>
      }
    </div>
  }
  @else {
    <label>Number of training games:</label>
    <input [formControl]="trainingGames" type="number" />
    <button (click)="trainLearner()">train learner</button>
    @let gamesFinished = tictactoeService.gamesFinished;
    @if (gamesFinished() > 0) {
      <p>Games finished: {{gamesFinished()}}</p>
    }
  }
</div>
