<div class="container">
  @if (!tictactoeService.learnerActive()) {
    @if (!tictactoeService.gamesFinished()) {
      <label>Number of training games:</label>
      <input [formControl]="trainingGames" type="number" />
      <div class="add-row">
        <button class="btn left" (click)="addGames(-10000)">-10k</button>
        <button class="btn" (click)="addGames(-1000)">-1k</button>
        <button class="btn" (click)="addGames(1000)">+1k</button>
        <button class="btn right" (click)="addGames(10000)">+10k</button>
      </div>
      <button class="btn" (click)="trainLearner()">train learner</button>
      <div class="btn-row">
        <label style="display: flex; flex-direction: column; justify-content: center;">
          Enable WebWorker:
        </label>
        <input type="checkbox" [formControl]="workerEnabled" />
      </div>
    }
    @else {
      <app-loading-bar
        message="training..."
        [capacity]="trainingGames.value!"
        [progress]="tictactoeService.gamesFinished()"
      ></app-loading-bar>
    }
  }
  @else {
    @let gameState = tictactoeService.gameState;
    <div class="btn-row">
      <button class="btn" (click)="resetLearner()">reset learner</button>
      <button class="btn" (click)="newGame()">new game</button>
    </div>
    <app-game-board
      [board]="gameState().board"
      [outcome]="gameState().outcome"
      (playerMove)="playerTurn($event)"
    ></app-game-board>
    <div style="display: flex; flex-direction: column; margin: auto;">
      @if (gameState().outcome !== "active") {
        <div>
        @switch (gameState().outcome) {
          @case ("win") {
            You lose...
          }
          @case ("lose") {
            You win!
          }
          @case ("draw") {
            Draw.
          }
        }
      </div>
      }
    </div>
  }
</div>
