<div class="board">
  @for (t of tiles; track t) {
    @let active = board()[t] === '0' && outcome() === 'active';
    <button
      [class]="active ? 'tile active' : 'tile'"
      [disabled]="!active"
      (click)="handlePlayerAction(t)"
    >
      @switch (board()[t]) {
        @case ('1') {
          <img class="icon" src="icons/x.svg" />
        }
        @case ('2') {
          <img class="icon" src="icons/o.svg" />
        }
        @default {
          {{''}}
        }
      }
    </button>
  }
</div>
