:root {
  --primary: #323543;
  --primary-clear: #323543af;
  --primary-lighter: #525563;
  --accent: #1b1b23;
  --accent-lighter: #3b3b43;
  --active: #80ff80;
  --active-darker: #0faa0f;
  --warn: #fd6363;
  --font: Inter, sans-serif;
  --shadow: 0px 0px 1px 0px rgba(0,0,0,0.50);
}

html {
  height: 100vh;
  font-family: var(--font);
  background: repeating-linear-gradient(
    45deg,
    var(--primary),
    var(--primary) 5px,
    var(--primary-lighter) 5px,
    var(--primary-lighter) 10px
  );
}

input {
  height: 2rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  box-shadow: var(--shadow);
}

.btn {
  width: fit-content;
  height: 2rem;
  background: white;
  border-radius: 5px;
  margin: auto;
  padding: 0rem 1rem;
  border: none;
  box-shadow: var(--shadow);
  &:hover {
    cursor: pointer;
    background: var(--active);
  }
}

.container {
  width: 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background: #efefef;
  border-radius: 10px;
  box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

.btn-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1rem;
}

.add-row {
  display: flex;
  flex-direction: row;
  gap: 0;
}
